+++
# SPDX-FileCopyrightText: 2022 CERN and the Allpix Squared authors
# SPDX-License-Identifier: CC-BY-4.0
title = "Allpix Squared"
+++

{{< blocks/cover title="" image_anchor="center" height="max" color="white" >}}
    <div class="row justify-content-start align-items-center">
        <div class="col-sm">
            {{< apsq_logo >}}
        </div>
        <div class="col-lg-10">
            <p class="display-2 mb-0 text-left">Semiconductor Detector<br />Monte Carlo Simulation Framework</p>
        </div>
    </div>
    <div class="row justify-content-start mt-3">
        <div class="col-lg-7 mt-5">
            <div class="screen_img_container">
                <script src="https://asciinema.org/a/9nFHsDeuO3nEUsWOpmrjhQV0J.js" id="asciicast-9nFHsDeuO3nEUsWOpmrjhQV0J" defer></script>
            </div>
        </div>
        <div class="col-lg-5 pl-5 mt-2">
            <div class="mt-5 text-left">
                <h3 class="display-4 mt-0 pb-3">
                    Low Entry Barrier for New Users
                </h3>
                <p class="">Comprehensive documentation and intuitive configuration with support for physical units</p>
            </div>
            <div class="mt-5 text-left">
                <h3 class="display-4 mt-0 pb-3">
                    Integration of Existing Toolkits
                </h3>
                <p>Leverage the capabilities of existing tools such as Geant4 or TCAD by providing interfaces for their integration</p>
            </div>
        </div>
    </div>
    <div class="mx-auto" style="padding-top: 3em;">
        <a href="/docs/" class="btn btn-lg btn-primary mb-3 mr-3 ml-4">
            Get Started <i class="fas fa-book ml-2"></i>
        </a>
        <a href="/post/" class="btn btn-lg btn-primary mb-3 ml-3 mr-3">
            Latest News <i class="fas fa-rss ml-2"></i>
        </a>
        <p>
            {{< blocks/link-down color="primary">}}
        </p>
    </div>
{{</ blocks/cover >}}

{{< blocks/lead color="primary" >}}
<h2 style="padding-bottom: 1em;">
    What is Allpix Squared?
</h2>
<span class="apsq-lead-text">
    Allpix Squared is a generic simulation framework for semiconductor tracker and vertex pixel detectors written in modern C++.
    The goal of the framework is to provide a complete and easy-to-use package for simulating the performance of detectors from
    incident ionizing radiation until the digitization of hits in the detector chip.
</span>
{{< /blocks/lead >}}


{{< blocks/section color="dark" >}}

{{< blocks/feature icon="fas fa-atom" title="Physics simulation" >}}
Allpix Squared aims for a detailed charge carrier propagation and implements many physics effects such as recombination, trapping and impact ionization.
{{< /blocks/feature >}}

{{< blocks/feature icon="fas fa-hands-helping" title="User friendly" >}}
No need to touch code - set up your detector setup using self-explanatory configuration files which detail the individual modules and their parameters using speaking names and physical units.
{{< /blocks/feature >}}

{{< blocks/feature icon="fas fa-wrench" title="Flexible" >}}
Thanks to the flexible configuration files, Allpix Squared is able to simulate both individual detectors and complete semiconductor detector experiments. In addition, the module instantiation logic allows the use of different modules for different detectors.
{{< /blocks/feature >}}

{{< /blocks/section >}}
{{< blocks/section color="dark" >}}

{{< blocks/feature icon="fas fa-code-branch" title="Open Source" url_text="Join the community" url="/community/" >}}
Allpix Squared is a collaborative project that welcomes contributions and is published entirely as free and open source software under the MIT license.
{{< /blocks/feature >}}

{{< blocks/feature icon="fas fa-book" title="Documentation" url_text="To the User Manual" url="/docs/" >}}
Allpix Squared comes with a comprehensive documentation comprising information on installation and usage, the implemented algorithms and underlying physics models.
{{< /blocks/feature >}}

{{< blocks/feature icon="fas fa-flask" title="Publications" url="/publications/" >}}
Allpix Squared has been used in a variety of different scientific contexts. In addition, several reference publications have been published and tutorials held.
{{< /blocks/feature >}}

{{< /blocks/section >}}
