{{ $icon := .Get "icon" | default "fa-lightbulb" -}}
{{ $url_text := .Get "url_text" -}}
<div class="col-lg-4 mb-5 text-center">
<div class="mb-4 h1">
{{ with .Get "url" }}<p><a href="{{ . }}">  <i class="{{ if not (or (hasPrefix $icon "fas ") (hasPrefix $icon "fab ")) }}fas {{ end }}{{ $icon }}"></i></a></p>{{ end }}
</div>
<h4 class="h3">
{{ $url := .Get "url" }}<a href="{{ $url }}"> {{- .Get "title" | markdownify -}} </a>
</h4>
<div class="mb-0">
</div>
{{ $.Get "desc" | markdownify }}
</div>
